h1 
{
	font-size: 14pt;
	font-family:Lato;
	color: black;
	
}


p2 {
	font-family:Lato;
	color: white;
	font-size: 10pt;
	
}


p {
	font-family:Lato;
	font-size: 11pt;	
}

h2 {
	font-family:Lato;
	font-size: 13pt;
	color:white;
}

p3 {
	font-family:Lato;
	font-size: 8pt;
	}

p4 {
	font-family:Lato;
	font-size: 8pt;
	font-color: orange;
}

p5 {
	font-family:Lato;
	color: white;
	font-size: 8pt;
	margin-left: 292px;
}
h6 {
	font-family: Lato;
	
	color: black;
}